*{
    margin: 0;
    padding: 0;
}
/* body{
    font-family: 'Montserrat', sans-serif;
} */
.feature{
    background-image: url(../Images/feature_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 93.2vh;
    position: relative;
    position: relative;
}
.feature h1{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 52px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.navbar-light .navbar-nav .nav-link {
    color: #204f87;
    font-weight: 500;
    position: relative;
    margin: 0;
}
.navbar-light .navbar-nav .nav-link::before{
    content: '';
    position: absolute;
    bottom: 3px;
    left: 9px;
    height: 2px;
    width: 0;
    padding: 0;
    margin: 0;
    background: red;
    transition: .4s all ease-in-out;
}
.navbar-light .navbar-nav .nav-link::after{
    content: '';
    position: absolute;
    bottom: 3px;
    right: 9px;
    height: 2px;
    width: 0;
    padding: 0;
    margin: 0;
    background: red;
    transition: .4s all ease-in-out;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #F2622C;
}
.navbar-light .navbar-nav .nav-link:hover::before, .navbar-light .navbar-nav .nav-link:hover::after{
    width: 40%;
}
.icon{
    position: absolute;
    top: 71%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 20px;
    animation: down 2s infinite;
    animation-direction: alternate;
    
}
@keyframes down{
    0%{
        top: 71%;
    }
    100%{
        top: 85%;
    }
}
.feature_down h1{
    font-size: 24px;
    margin-bottom: 30px;
    color: #204f87;
    font-weight: 700;
    position: relative;
}
.feature_img{
    position: relative;
}
.feature_img::before{
    position: absolute;
}
.feature_down h1::before{
    content: '';
    position: absolute;
    left: 5px;
    bottom: 36px;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background: #f2622c;
    transition: .4s all ease-in-out;
    margin-left: 16px;
}
.feature_down:hover h1::before{
    width: 40px;
}
.feature_down p{
    font-size: 14px;
    color: #b0b0b1;
}
.box_section{
    background-image: url(../Images/box_background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 79vh;
}
.box_section h1{
    color: #204f87;
    font-weight: 700;
    font-size: 33px;
    position: relative;
}
.box_section h1::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 132%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background: red;
    transition: .4s all ease-in-out;
}
.box_section:hover h1:before{
    width: 57px;
}
.antony{
    background-image: url(../Images/box_back2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 70vh;
}
.antony h1{
    color: #fff; 
    font-family: 'Montserrat', sans-serif;  
    font-size: 37px; 
    text-transform: uppercase;
    position: relative;
}
.antony h1::before{
    content: '';
    position: absolute;
    bottom: 112px;
    left: 9%;
    transform: translatex(-50%);
    width: 0;
    height: 3px;
    background: #f2622c;
    transition: .4s all ease-in-out;
}
.antony:hover h1::before{
    width: 65px;
}
.antony p{
    color: #929dcf;
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 46px;
}
.antony a{
    text-decoration: none;
    color: #f2622c;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
}
.language h1{
    text-transform: uppercase;
    color: #204f87;
    font-size: 29px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    font-weight: 600;
}
.language h1::before{
    content: '';
    position: absolute;
    bottom: 51px;
    left: 50%;
    transform: translatex(-50%);
    width: 0;
    height: 3px;
    background: #f2622c;
    transition: .4s all ease-in-out;
}
.language:hover h1::before{
    width: 65px;
}
.language h2{
    color: #204f87;
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}
.language p{
    color: #b1b0b1;
    font-size: 14px;
    margin-bottom: 25px;
    padding: 32px 31px;
}
.language a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: #f2622c;
    font-family: 'Montserrat', sans-serif;
}
.contact{
    background: #28377e;  
}
.contact h1{
    color: #fff;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-size: 31px;
    position: relative;
}
.contact h1::before{
    content: '';
    position: absolute;
    bottom: 51px;
    left: 49%;
    transform: translatex(-50%);
    width: 0;
    height: 3px;
    background: #f2622c;
    transition: .4s all ease-in-out;
}
.contact:hover h1::before{
    width: 65px;
}

.contact input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #4759a7;
    width: 56%;
    margin: auto;
    padding: 0;
    margin-bottom: 61px;
    color: #fff;
}
.contact input:focus{
    outline: none;
}
.contact input::placeholder{
    color: #fff;
    font-size: 16px;
    padding: 0;
}
.btn-1{
    color: #fff;
    width: 9%;
    margin: auto;
    margin-top: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 84px;
    background: #f2622c;
    font-size: 16px;
    border-radius: 5px;
}
.btn-1:hover{
    color:#fff;
    background: #204f87;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background: #0c1234;
}
.footer p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    color: #616ca8;
}
.footer ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    color: #fff;
}
.footer ul li{
    
}
.footer ul li i{
    margin-left: 42px;
    font-size: 19px;
    color: #616ca8;
}
.footer ul li i:hover{
    color: #5ba2ff
}
.antony_img img{
    width: 100%;
}
.antony_img{
    position: relative;
   }
.antony_img::before{
    content: '';
    left:0%;
    bottom:0%;
    width: 0%;
    height:0%;
    background: #424B84;
    position: absolute;
    opacity: .5;
    transition: .5s all ease-in-out;
}
.antony_img:hover::before{
   width: 100%;
   height: 100%;  
}
.client_img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.client_img img{
    width: 100%;
    display: block;
    width: 100%;
    transform: scale(1);
    transition: .5s all ease-in-out;
}
.client_img img:hover{
    transform: scale(1.3);
} 
/* end of photo part*/
